.clients {
    background-color: $lightBlue;
    padding-bottom: 50px;
    padding-top: 20px;

    &__title {
        text-transform: capitalize;
        margin-top: 0;
        margin-bottom: 50px;
        font-size: 3.5rem;
        font-weight: 900;
        text-align: center;
    }
    
    img {
        width: 250px;
        height: auto;

        &:not(:first-child) {
            margin-left: calc((100% - 760px)/2);
        }
    }
}