.email {
    background-color: $lightBlue;
    padding: 10px 10px 40px;

    h1 {
        margin: 0;
    }

    &__title {
        text-align: center;
        padding:10px;
        font-size: 3.5rem;
        font-weight: 900;
    }

    &__text {
        text-align: center;
        padding: 0 0 30px;

        strong {
            border-bottom: 3px solid $mainYellow;
            /* padding: 0 0 20px; */
        }
    }

    &__form {
        width: 50%;
        height: auto;
        background-color: #ffffff;
        box-shadow: 0 13px 20px 0 rgba(0, 0, 0, 0.25);
        margin: 0px auto;
        padding: 10px 10px 20px;

        textarea {
            display: block;
            width: 95%; 
            height: 200px;
            border: solid 1px rgba(220, 220, 220, 0.78);
            border-radius: 4px;
            margin: 30px auto;
            box-sizing: border-box;
            padding: 10px;

            &::placeholder {
                color: $mainBlue;
                padding: 10px;
            }
        }

        input {
            display: block;
            margin: 20px auto;
           

            &::placeholder {
                color: $mainBlue;
            }

            &[type="text"],
            &[type="email"],
            &[type="subject"],
            &[type="phone"] {
                width: 95%;
                border: none;
                border-bottom: solid 1px rgba(220, 220, 220, 0.78);
                display: block;
                padding: 12px 0;
                
            }

            &[type="submit"] {
                background-color: $mainYellow;
                color: $mainBlue;
                font-weight: bold;
                padding: 12px 20px;
                border: none;
                border-radius: 4px;
                box-shadow: 0 13px 20px 0 rgba(0, 0, 0, 0.25);
                
            }
        }
    } 
}


@media (max-width: 480px) {
    .email__form {
        width: 80%;
        height: auto;
        background-color: #ffffff;
        box-shadow: 0 13px 20px 0 rgba(0, 0, 0, 0.25);
        margin: 0px auto;
        padding: 10px 10px 20px;

        textarea {
            display: block;
            width: 95%; 
            height: 100px;
            border: solid 1px rgba(220, 220, 220, 0.78);
            border-radius: 4px;
            margin: 30px auto;
            box-sizing: border-box;
            padding: 10px;

            &::placeholder {
                color: $mainBlue;
                padding: 10px;
            }
        }
    }
}




