.gallery {
    background-color: $mainYellow;
    padding: 10px 10px 40px;

    h1 {
        margin: 0;
    }

    &__title {
        text-align: center;
        padding:10px;
        font-size: 3.5rem;
        font-weight: 900;
        color: $mainBlue;
    }

    &__images_container {
        width: 55%;
        height: auto;
        margin: 20px auto;
        
        &__item {
            width: 48.5%;
            float: left;
            display: block;
            margin: 0 4px 0 0;
            box-shadow: 0 13px 20px 0 rgba(0, 0, 0, 0.25);

            &--small{
                width: 24%;
                height: 24%;
                margin:0 2px 2px;
                box-shadow: 0 13px 20px 0 rgba(0, 0, 0, 0.25);
            }
        }
    }

    &__button--blue{
        display: block;
        width: 200px;
        padding: 12px 0;
        font-size: 1.25rem;
        text-transform: capitalize;
        cursor: pointer;
        margin: 0 auto;
        background: $mainBlue;
        color: white;
        box-shadow: 0 13px 20px 0 rgba(0, 0, 0, 0.25);
    }
}

@media (max-width: 930px) {
    .gallery__images_container {
        width: 80%;
        height: auto;
        margin: 20px auto;
    
        &__item {
            width: 49%;
            float: left;
            display: block;
            margin: 0 4px 0 0;
            box-shadow: 0 13px 20px 0 rgba(0, 0, 0, 0.25);

            &--small{
                width: 24%;
                height: 24%;
                margin:0 1px 1px;
                box-shadow: 0 13px 20px 0 rgba(0, 0, 0, 0.25);
            }
        }
    }
} 

   
@media (max-width: 480px) {
    .gallery__images_container {
        width: 60%;
        height: auto;
        margin: 20px auto;

        
        &__item {
            width: 100%;
            /* float: left; */
            
            margin: 0 auto 10px;
            box-shadow: 0 13px 20px 0 rgba(0, 0, 0, 0.25);
            

            &--small{
                width: 100%;
                margin: 0 auto 5px;
                box-shadow: 0 13px 20px 0 rgba(0, 0, 0, 0.25);
            }
        }
    }
}