.hero {

    position: relative;

    &__text_content {
        position: absolute;
        width: 100%;
        text-align: center;
        top: calc(40% - 45px);
        transform: translateY(-50%);

        &__title {
            text-transform: uppercase;

            margin: 0 0 20px 0;;

            &--yellow {
                color: $mainYellow;
                font-weight: 900;
                font-size: 60px;
            }
        }

        &__subtitle {
            text-transform: capitalize;
            font-size: 1.375rem;
            font-weight: 700;

            span {
                text-transform: lowercase;
            }
        }
    }
    
    &__button_container {
        position: absolute;
        left: 50%;
        transform: translateX(calc(-50% - 15px));
        bottom: 30%;

        button {
            margin-left: 30px;
        }
    }

    &__technologies {
        position: absolute;
        text-align: center;
        width: 100%;
        bottom: 8%;
        transform: translateY(50%);

        &__subtitle {
            font-weight: 300;
            font-size: 1rem;

            &::first-letter {
                text-transform: uppercase;
            }

            &--white {
                color: white;
            }
        }

        &__title {
            display: inline-block;
            margin-left: 40px;
            transform: translateX(-20px);
            text-transform: uppercase;
            font-weight: 700;
            font-size: 2.25rem;

            &--white {
                color: white;
            }
        }
    }
}